/**********************************
GENERAL
***********************************/
body {
    font: normal 13px/18px sans-serif;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


a {
    text-decoration: none;
}

.wrapper {
    display: block;
    margin: auto;
    width: 80%;
    padding: 130px 10px 0 10px;
}


#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 130px 10px 0 10px;
    clear: both;
}


img {
    max-width: 100%;
}

h3 {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}

p {
    color: #999;
}

/*
.menu {
    font-size: 13px;
    font-weight: bold;
}
*/



/**********************************
HEADING
***********************************/

header {
  position: fixed;
  z-index: 9999;
  float: left;
  margin: 0 0 10px 0;
  width: 100%;
  background-color: white;
}

h1 {
  text-align: center;
}

/******************************
CAROUSEL (a TITLE PAGE)
******************************/
#carousel {
	width: 100%;
	position: relative;
	padding-top: 38%; /* 1500x570 */
	overflow: hidden;
}

#carousel img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}





/**********************************
PAGE: ABOUT
***********************************/

.profile-photo {
  display: block;
  max-width: 250px;
  margin: 25px auto;
}


/**********************************
PAGE: MEDIA
***********************************/


#gallery,
#gallery figure,
#gallery figcaption {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: white;
}

/** Create a thumbnail for images of different sizes. And round the corners. **/
#gallery img {
    border-radius: 3px;
    height:300px;
    width:300px;
    object-fit: cover;
}


#gallery figcaption {
    margin: 0;
    padding 5%;
    font-size: 0.80em;
    color: #999;
}


/**********************************
PAGE: DATES
***********************************/
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

ul.main { 
  list-style: none;
  max-width: 95%;
  margin: 70px auto;
}

.date {
  width: 17%;
  padding: 5% 5% 0 0 ;
  float: left;
}

.date h3 {
  font-size: 1.7em;
}

.date p {
  font-size: 1em;
}

.events {
  float: left;
  width: 70%;
  border-left: 1px solid #999;
  margin-top: 15%;
  padding-top: 3%;
}

.events-detail {
  max-width: 550px;
}

.events-detail li{
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  line-height: 22px;
  transition: ease .4s all;
}

.events-detail li:hover {
  background: #e9e9e9;
}

.event-time {
  font-weight: bold;
}

.events-detail li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
}

.event-location {
    font-size: .8em;
    color: #dea227;
    margin-left: 70px;
}

/*--------------*/


/**********************************
PAGE: CONTACT
***********************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.75em;
  margin: 15px;
  font-weight: bold;
  text-align: center;
}

/*
label {
  display: block;
  margin-bottom: 10px;
}
*/

/*
.input:focus {
    color: black;
}
*/


input[type="text"],
input[type="email"],
textarea,
select {
      color: #999;
      font-size: 12px;
      height: 12px;
      padding: 15px;
      width: 100%;
      background-color: #e8eeef;
      margin-bottom: 30px;
      border: 1px solid #999;
      resize: none;
}

input,
button {
    color: #dea227;
}

/* button styling */

button {
	background-color: white;
	box-shadow: 0 1px 0 0 #dea227;
     border-radius: 4px;
}

button:hover {
	background-color: #999;
    color: white;
	box-shadow: 7px 4px 0 0 #dea227;
    border-radius: 4px;
}




/**********************************
FOOTER
***********************************/

#footer {
		width: 100%;
		max-width: 100%;
		margin-top: 2rem;
		text-align: center;
	}
#footer .copyright {
			letter-spacing: 0.1rem;
			font-size: 0.6rem;
			margin-bottom: 0;
			text-transform: uppercase;
		}





/**********************************
COLORS
***********************************/

a, h2, h3 {
    color: #999;
}


.selected, nav a:hover {
    color: #dea227;
    background-color: #f1f1f1;
    border-radius: 4px;
 }

.download {
    color: #dea227;
}
